.pokemon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    text-transform: capitalize;
}

.likeBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: blue;
}



